.mainContainer {
    -fx-alignment: center;
    -fx-background-color: #fff;
}

.headerContainer {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(22,0,36,1), rgba(105,40,40,1));
}

.comboBox {
    -fx-pref-height: 25px;
    -fx-pref-width: 100px;

    -fx-background-color: rgba(22,0,36,1);

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-cursor: hand;

    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
}

.entry-field {
    -fx-pref-width: 100px;

    -fx-font-family: Arial;
    -fx-font-size: 14px;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-cursor: text;
}

.calculateButton {
    -fx-pref-height: 25px;
    -fx-pref-width: 100px;

    -fx-background-color: rgba(22,0,36,1);
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-font-weight: bolder;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-cursor: hand;
}
.generalText {
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

/*Other effects*/

.calculateButton:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
    -fx-effect: dropshadow(three-pass-box, darkgray, 6, 0, 3, 3);
}

.comboBox:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
    -fx-effect: dropshadow(three-pass-box, darkgray, 6, 0, 3, 3);
}

.comboBox .list-cell {
    -fx-background-color: rgba(22,0,36,1);

    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
}

.comboBox .list-cell:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(22,0,36,1), rgba(105,40,40,1));
    -fx-cursor: hand;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
    -fx-effect: dropshadow(three-pass-box, darkgray, 6, 0, 3, 3);
}

.comboBox .arrow-button .arrow {
    -fx-background-color: white;
}

.comboBox .scroll-bar{
    -fx-background-color: white;
}